*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}

@media (max-width: 426px) {
  .toastContainer {
    width: 300px;
    margin-inline-start: 12%;
    margin-top: 13%;
  }
}
